<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>League settings</title>
    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <img src="/img/logo.png" alt="Fantasy Logo" class="header--logo-image" />
    <form action="/makeleague" method="POST">
      <div class="container">
        <label for="lname"><b>League Name:</b></label>
        <input
          type="text"
          placeholder="League Name"
          name="lname"
          required
          style="color: black"
        />
        <br />
        <button type="submit">Create</button>
      </div>
    </form>
    <br />
  </body>
</html>
