<html>
    <head>
        <title> Leaderboard </title>
        <link href="/css/style.css" rel="stylesheet" />

    </head>
    <body>
    <img src="/img/logo.png" alt="Fantasy Logo" class="header--logo-image" />

        <h1> View Leaderboard </h1>
        <form action="/leaderboard" method="POST">
            <div class="container"></div>
              <label for="leauge"><b>Name of leauge:</b></label>
              <input type="text" placeholder="Enter Leauge Name" name= "leauge" required />
              <br />
              <button type="submit">Submit</button><br />
              <p>{{leaderboard}}</p>
    </body>
</html>
