<html>
  <head>
    <title>Login page</title>
    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <img src="/img/logo.png" alt="Fantasy Logo" class="header--logo-image" />

    <form action="/login" method="POST" class="credentials credentials-all">
      <div class="container">
        <h2 class="credentials-header">Fantasy Basketball Login</h2>
        <label for="uname" class="credentials-label credentials-all"
          ><b>Username</b></label
        >
        <input
          type="text"
          placeholder="Enter Username"
          name="uname"
          required
          class="credentials-input credentials-all"
        />
        <br />
        <label class="credentials-label credentials-all" for="psw"
          ><b>Password</b></label
        >
        <input
          type="password"
          placeholder="Enter Password"
          name="psw"
          required
          class="credentials-input credentials-all"
        />

        <div class="action-buttons--form">
          <button type="submit">Login</button>
          <a href="/"><button type="button">Home page</button></a>
        </div>
      </div>
      <p>{{ loginStatus }}</p>
    </form>
  </body>
</html>
