<html>
<head>
    <title>Profile page</title>
</head>
<body>

<h1>{{ User }}'s profile</h1>

<p id="paragraph">
    This is your profile
</p>

<form action="/profile" method="get">
  <input type="submit" value="Create League">
</form>

<form action="/viewLeagues" method="get">
  <label for="unjoined">Join a league:</label>
  <select id="unjoined" name="unjoined">
    {% for league in leagues %}
        <option value={{ league.name }}>{{ league.name }}</option>
    {% endfor %}
  </select>
  <input type="submit">
</form>

<form action="/viewJoinedL" method="get">
  <label for="joined">View joined leagues:</label>
  <select id="joined" name="joined">
    {% for leagueJ in leaguesJ %}
        <option value={{ leagueJ }}>{{ leagueJ }}</option>
    {% endfor %}
  </select>
  <input type="submit">
</form>


</body>
</html>