<html>
  <head>
    <title>Sign up page</title>
  </head>
  <body>
    <h1>Fantasy Sports Sign up</h1>

    <form action="/signup" method="POST">
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required />
        <br />
        <label for="psw"><b>Password</b></label>
        <input
          type="password"
          placeholder="Enter Password"
          name="psw"
          required
        />

        <button type="submit">Sign up</button><br />
        <a href="/">Go back to login page</a>
      </div>
    </form>
    <p>{{ signUpStatus }}</p>
  </body>
</html>