<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Placeholder for draft/viewing rosters</title>
</head>
<body>
<h1>View rosters of league {{league_name}}</h1>

<button onclick="location.href='/return'">Reload profile</button>

{% if draft_done %}
<h3>User rosters:</h3>
<div>
    {% for user_roster in user_rosters %}
        <p>{{user_roster}}</p>
        <br>
    {% endfor %}
</div>


{% else %}
<h3>Draft for this league hasn't been completed by all relevant users.</h3>
{% endif %}

</body>
</html>